/*global variables*/
:root {
    --main-green: #29a19c;
    --main-grey: #222831;
    --text-color: #FFF;
  }
  
  :root { 
    --small: 16px;
    --medium: 18px;
    --big: 22px;
    --max: 30px;
    --max-max: 150px;
  
    --Large_reg: 42px;
  
    --maxWidth: 1440px;
    --containerPadding: 50px;
  }
  
  /*global classes*/
  * {
    box-sizing: border-box;
  }

  body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: var(--medium);
    color: var(--text-color);
    background-color: black;
    width: 100%;
  }

  a {
    color: var(--text-color);
  }

  main {
    background-color: var(--main-grey);
    position: relative;
    width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    position: relative;
    width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
  }  

  /*header*/
.header-box {
  background-color: var(--main-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--containerPadding) 30px var(--containerPadding);
}

.header-menu-btn {
  text-decoration: none;
  margin-right: 50px;
  font-size: calc(var(--big) + 1px);
  letter-spacing: 1px;
}

.select-menu-btn {
  position: relative;
}

.select-menu-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7%;
  width: 85%;
  height: 2px;
  background-color: var(--main-green); 
}

.header-img {
  height: 50px;
}
/*header*/

.section-home-box {
  background-color: var(--main-grey);
  margin: 0px;
  margin-bottom: 30px;
  padding: 40px var(--containerPadding) 0px var(--containerPadding);
}

.home-title {
  font-weight: 100;
  font-family: 'GrandHotel400';
  font-size: var(--max-max);
  margin: 0;
}

.home-info-title {
  font-size: var(--max);
  margin: 0;
  margin-top: 10px;
  letter-spacing: 1px;
  line-height: 70px;
}

.home-info-text {
  font-weight: 100;
  font-stretch: expanded;
  font-size: var(--small);
  width: 490px;
  line-height: 23px;
  font-family:'MontserratV';
  margin-bottom: 20px;
}

.home-img {
  top: 10px;
  right: 0px;
  z-index: 0;
  position: absolute;
}