/*global variables*/
:root {
  --main-green: #29a19c;
  --main-grey: #222831;
  --text-color: #FFF;
}

:root {
  --small: 16px;
  --medium: 18px;
  --big: 24px;
  --max: 30px;
  --max2: 31px;
  --max-max: 165px;

  --title: 90px;
  --title-max: 116px;
  --Large_reg: 42px;

  --maxWidth: 1440px;
  --containerPadding: 50px;
  --containerPadding-big: 60px;
}
/*global variables*/

/*global classes*/
* {
  box-sizing: border-box;
}

button {
  border: none;
}

h1, p  {
  margin: 0;
}

a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  background-color: var(--main-grey);
  position: relative;
  width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
}

.background-wave {
  position: relative;
  margin-bottom: -5px;
}

.main-btn {
  color: var(--text-color);
  padding: 10px 30px;
  border-radius: 15px;
  font-size: var(--max2);
  letter-spacing: 1.25px;
  display: inline-block;
  transition: 1s;
  cursor: pointer;
}

.white-btn {
  background-color: var(--main-green);
}
.white-btn:hover {
  transition: 1s;
  background-color: #3f4e65;
}

.dark-btn {
  background-color: var(--main-grey)
}
.dark-btn:hover {
  transition: 1s;
  background-color: #1c6b68;
}

body {
  scroll-behavior: smooth;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  font-size: var(--medium);
  color: var(--text-color);
  background-color: black;
  width: 100%;
}

.background-main {
  position:absolute;
  width: 1440px;
  height: 100%;
  background-image: url("../img/background.png");
  z-index: 1000;
  left: 0; 
  right: 0; 
  margin: auto;

}

.container {
  position: relative;
  width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;

}
/*global classes*/



/*header*/
.header-box {
  background-color: var(--main-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px calc(var(--containerPadding-big)) 30px var(--containerPadding);
}

.header-menu-btn {
  margin-top: -2px;
  padding-left: 3px;
  text-align: justify;
  color: var(--text-color);
  letter-spacing: 2px;
  display: inline-block;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  /*padding-right: 10px;*/
  font-size: var(--big);
}

.header-menu-btn::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 3px;
	background-color: var(--main-green);
}

.header-menu-btn:hover:before {
  transition: 0.35s;
	width: 100%;
}

.header-img {
  height: 50px;
}

.header-menu-btn-about {
  margin-left: 42px;
}

/*header*/

/*section 1*/
.section-home-box {
  background-color: var(--main-grey);
  margin-bottom: 38px;
  padding: 20px var(--containerPadding) 0 var(--containerPadding);
}

.home-info {
  padding-left: 6px;
}

.home-title {
  margin-left: -5px;
  font-weight: 100;
  letter-spacing: 4px;
  font-family: 'GrandHotel';
  font-size: 158px;
}

.home-info-title {
  padding-left: 1px;
  font-size: 31px;
  letter-spacing: 3.45px;
  margin-top: 25px;
}

.home-info-text {
  word-spacing: 2px;
  margin-top: -11px;
  padding-left: 3px;
  line-height: 24px;
  font-weight: 100;
  font-size: var(--small);
  width: 484px;
  font-family:'Montserrat-Thin';
  margin-bottom: 22px;
}

.home-img {
  top: 14px;
  right: 0px;
  z-index: 0;
  position: absolute;
}
/*section 1*/

/*section 2*/
.section-order-box {
  background-color: var(--main-green);
  padding: 14px calc(var(--containerPadding)) 0px calc(var(--containerPadding));
  display: flex;
  align-items: center;
}

.order-left {
  margin-left: 85px;
  margin-top: -90px;
  width: 492px;
}

.order-title {
  font-weight: 100;
  font-family: 'GrandHotel';
  font-size: 126px;
  letter-spacing: 4.75px;
  line-height: 113px;
  margin-bottom: 91px;
}

.order-text {
  float: right;
  margin-top: 30px;
  margin-left: 5px;
  text-align: right;
  line-height: 40px;
  letter-spacing: 1px;
  font-family:'MontserratV';
  font-size: var(--big);
}

.order-right {
  float: right;
  text-align: right;
  width: 640px;
  flex-direction: column;
}

.order-img {
  margin-top: 22px;
  margin-left: 36px;
  transition: 0.5s;
}
.order-img:hover {
  transform: scale(1.01);
}

/*section 2*/



/*section 3*/
/*section 3.1 Егор*/
.section-about-box {
  background-color: var(--main-grey);
  padding: 8px calc(var(--containerPadding)*2) 18px calc(var(--containerPadding)*1);
}

.sect-about-1 {
  margin: -45px 0 56px 0;
}

.hot-coffees-left {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items:end;
}
.hot-coffees-title {
  font-weight: 500;
  font-family: 'GrandHotel';
  text-align: right;
  font-size: calc(var(--title-max) * 1.1);
  line-height: 115px;
  letter-spacing: 5px;
  margin: -7px 3px 40px 0px;
}

.hot-coffees-text {
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 600px;
  text-align: left;
  line-height: 41px;
  word-spacing: 5.1px;
  font-family:'MontserratV';
  font-size: var(--big);
}

.hot-coffees-img {
  padding-left: 14px;
  transition: 0.5s;
}
.hot-coffees-img:hover {
  transform: scale(1.01);
}

.about-btn-size{
  height: 59px;
}
.about-btn {
  margin-top: 60px;
}
/*section 3.1 Егор*/


/*section 3.2 Илья*/
.white-coffees-left {
  margin-top: -50px;
  width: 400px;
}

.white-coffees-title {
  font-weight: 500;
  font-family: 'GrandHotel';
  font-size: calc(var(--title-max) * 1.1);
  line-height: 115px;
  letter-spacing: 5px;
  margin: 22px 0px 45px 0px;
  padding-left: 10px;
}

.white-coffees-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.white-coffees-text {
  margin-top: 32px;
  width: 580px;
  text-align: right;
  line-height: 39px;
  font-family:'MontserratV';
  font-size: var(--big);
}

.white-coffees-img{
  padding-bottom: 7px;
  margin-top: 4px;
  margin-left: 100px;
  transition: 0.5s;
}

.white-coffees-img:hover {
  transform: scale(1.01);
}

.white-coffie-btn{
  margin-top: 50px;
  margin-left: 12px;
}

/*section 3.2 Илья*/


/*section 3.3 Катя*/
.voucher-title {
  font-weight: 500;
  letter-spacing: 2px;
  font-family: 'GrandHotel';
  font-size: calc(var(--title-max) * 1.1);
  line-height: 120px;
  margin-top: 45px;
}

.voucher-img {
  margin-left: 30px;
  margin-top: 18px;
  padding-bottom: 10px;
  transition: 0.5s;
}

.review-text {
  margin-top: -3px;
}

.voucher-img:hover {
  transform: scale(1.01);
}

.voucher-btn {
  margin-left: 50px;
}
/*section 3.3 Катя*/
/*section 3*/

/*section 4*/
.reviews-title {
  font-weight: 500;
  font-family: 'GrandHotel';
  font-size: var(--title);
  line-height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.reviews-items {
  display: flex;
  flex-direction: row;
  margin: 2px -70px;
}

.reviews-item {
  width: 490px;
  margin: 0px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-img {
  transition: 0.5s;
}

.review-img:hover {
  transform: scale(1.02);
}

.review-name {
  font-weight: 100;
  letter-spacing: 0.5px;
  font-family: 'GrandHotel';
  font-size: calc(var(--max) * 1.8);
  line-height: 110px;
  margin-top: 25px;
  margin-bottom: 2px;
}

.review-text {
  letter-spacing: -0.01px;
  line-height: 28px;
  word-spacing: 8px;
  padding: 0px 10px 3px 10px;
  text-align: center;
  font-size: 24px;
  font-family:'MontserratV';
}
/*section 4*/

/*section we are open*/
.section-open-box {
  padding: 0px 0px 37px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(var(--big));
  font-family: 'GrandHotel';
  background-color: var(--main-green);
}

.section-open-days-text {
  font-size: calc(var(--max)*1.3);
  margin-bottom: 3px;
  word-spacing: -1px;
  letter-spacing: 0px;
  font-family: 'Montserrat';
}

.open-time {
  margin-bottom: 97px;
}
.section-open-time-text {
  font-size: calc(var(--max)*1.2);
  word-spacing: 3px;
  letter-spacing: 0px;
  margin-top: 0;
  margin-left: -8px;
  font-family: 'MontserratV';
}


.open-title {
  margin-top: -9px;
  font-weight: 500;
  font-size: calc(var(--title)*1.1);
  margin-bottom: 75px;
  letter-spacing: 4px;
}
/*section we are open*/


/*section 5*/
.section-workers-box {
  padding: 0px 11px 20px 11px;
  background-color: var(--main-grey);
  justify-content: space-between;
  margin-top: -5px;
}

.workers-title {
  font-weight: 500;
  font-family: 'GrandHotel';
  font-size: var(--title);
  line-height: 120px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 2px;
  text-align: center;
  letter-spacing: 3.1px;
}

.section-worker1-img{
  margin-top: -9px;
  margin-right: -10px;
  transition: 0.5s;
}

.section-worker1-img:hover{
  transform: scale(1.02);
}

.section-worker2-img{
  margin-top: -9px;
  margin-right: -1px;
  transition: 0.5s;
}

.section-worker2-img:hover{
  transform: scale(1.02);
}

.section-worker3-img{
  margin-top: -9px;
  margin-right: 10px;
  transition: 0.5s;
}

.section-worker3-img:hover{
  transform: scale(1.02);
}

.section-worker-box {
  font-style: normal;
  text-align: center;
  font-family: 'MontserratRegular';
}

.session-workers-box-text {
  width: 400px;
  font-weight: 100;
  font-size: 16px;
  font-family: 'MontserratV';
  line-height: 28px;
  padding: 0 30px 3px 35px;
}

.section-worker-button {
  position: relative;
  width: 250px;
  font-family: 'Montserrat';
  letter-spacing: 4.5px;
  margin: 37px 0px 37px 0px;
  color: var(--text-color);
  padding: 11px;
  border-radius: 15px 15px 15px 20px;
  font-size: var(--max);
  background-color: var(--main-green);
}

.section-worker-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 15px;
  height: 40px;
  background-color: var(--main-green);
  margin-top: 30px;
  transform: rotate(-20deg);
  border-radius: 70%;
}
/*section 5*/


/*section 6*/
.section-pre-footer-box {
  padding: 5px var(--containerPadding) 20px var(--containerPadding-big);
  background-color: var(--main-green);
}

.section-pre-footer-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.pre-footer-img {
  margin-top: -15px;
  height: 70px;
}

.footer-tabels {
  display: flex;
  justify-content: space-around;
}

.footer-table-information{
  display: flex;
  margin-top: -12px;
  margin-right: 73px;
  flex-direction: column;
}

.footer-table-contact{
  padding-left: 50px;
  margin-top: -12px;
  margin-right: -5px;
  display: flex;
  flex-direction: column;
}

.footer-info-title {
  font-size: calc(var(--max) * 1.2);
  margin-bottom: 45px;
}

.footer-tabels p, a {
  font-size: var(--big);
  letter-spacing: 1px;
  font-family: 'MontserratV';
  line-height: 36px;
}
/*section 6*/

/*footer*/
.footer-box {
  background-color: var(--main-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 25px 35px calc(var(--containerPadding)*1.25);
}

.footer-box::after {
  content: '';
	position: absolute;
	left: 0; bottom: -12px;
	width: 100%;
	height: 12px;
	background-color: var(--main-grey);
}
.pre-footer-img {
  z-index: 100;
}

.footer-menu-btn {
  font-weight: 300;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: var(--medium);
  letter-spacing: 1px;
}

.footer-menu-btn-about {
  margin-left: 68px;
}

.footer-menu-btn-shop {
  margin-left: 64px;
}

.footer-menu-btn::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 3px;
	background-color: var(--main-grey);
}

.footer-menu-btn:hover:before {
  transition: 0.35s;
	width: 100%;
}

.footer-img {
  font-size: 30px;
  margin-left: 30px;
  color: var(--text-color);
}

.footer-img:hover {
  color: var(--main-grey);
  transition: 0.5s;
}

.footer-contacts {
  margin-top: -5px;
  margin-right: -5px;
  transform: scale(0.75);
}

.footer-contact-twitter {
  margin-right: 15px;
}

.footer-contact-instagram {
  margin-right: 29px;
  margin-left: 60px;
}

.fa-facebook-f {
  margin-left: 10px;
}
/*footer*/